# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

{{ if .HasExample -}}
## Example Usage

{{ tffile .ExampleFile }}
{{- end }}

## Single Node Cluster Example

Please visit the [examples page](https://github.com/EnterpriseDB/terraform-provider-biganimal/tree/main/examples#biganimal_cluster-resource-examples) for more single node cluster examples on various cloud service providers.

{{ tffile "examples/resources/biganimal_cluster/single_node/resource.tf" }}

## Primary/Standby High Availability Cluster Example
{{ tffile "examples/resources/biganimal_cluster/ha/resource.tf" }}

## Distributed High Availability Cluster Example

-> Please use the `biganimal_pgd` resource to manage the Distributed High Availability clusters.

## Restoring a cluster

Here are the steps to restore a cluster:
1. Use an example config in the examples folder, uncomment the following fields restore_cluster_id=p-123456789, restore_from_deleted=true and enter your cluster id you want to restore and set to true respectively(for restoring an active cluster, set to false)
2. Use commands terraform init and terraform import biganimal_cluster.single_node_cluster prj_123456789/p-123456789/import-from-deleted to import a deleted cluster into terraform(use import biganimal_cluster.single_node_cluster prj_123456789/p-123456789 to import an active cluster)
3. Use command terraform plan to compare and diff your config with the imported cluster(source cluster) and edit config where appropriate. You can also use terraform show to see the source cluster which you can copy and paste the field values into your config. The config fields 'cloud_provider', 'pg_type', 'pg_version' and 'private_networking' are unmodifiable and have to match the source cluster
4. Remove state by deleting the file terraform.tfstate or use the commands terraform state rm 'biganimal_cluster.single_node_cluster' and terraform state rm 'random_password.password'
5. Use command terraform init and terraform apply to restore the cluster, it will show a warning saying you are trying to restore a cluster
6. Remove or comment the field restore_cluster_id=p-123456789 in the config after the restore has completed

{{ .SchemaMarkdown | trimspace }}
{{- if .HasImport }}

## Import

Import is supported using the following syntax:

{{ codefile "shell" .ImportFile }}
{{- end }}
