# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

{{ if .HasExample -}}
## Example Usage

{{ tffile .ExampleFile }}
{{- end }}

## PGD Azure One Data Group Example
{{ tffile "examples/resources/biganimal_pgd/azure/data_group/resource.tf" }}

## PGD Azure Two Data Groups with One Witness Group Example
{{ tffile "examples/resources/biganimal_pgd/azure/data_groups_with_witness_group/resource.tf" }}

## PGD Azure BigAnimal's cloud account One Data Group Example
{{ tffile "examples/resources/biganimal_pgd/azure/bah_data_group/resource.tf" }}

## PGD Azure BigAnimal's cloud account Two Data Groups with One Witness Group Example
{{ tffile "examples/resources/biganimal_pgd/azure/bah_data_groups_with_witness_group/resource.tf" }}

## PGD AWS One Data Group Example
{{ tffile "examples/resources/biganimal_pgd/aws/data_group/resource.tf" }}

## PGD AWS Two Data Groups with One Witness Group Example
{{ tffile "examples/resources/biganimal_pgd/aws/data_groups_with_witness_group/resource.tf" }}

## PGD AWS BigAnimal's cloud account One Data Group Example
{{ tffile "examples/resources/biganimal_pgd/aws/bah_data_group/resource.tf" }}

## PGD AWS BigAnimal's cloud account Two Data Groups with One Witness Group Example
{{ tffile "examples/resources/biganimal_pgd/aws/bah_data_groups_with_witness_group/resource.tf" }}

## PGD GCP One Data Group Example
{{ tffile "examples/resources/biganimal_pgd/gcp/data_group/resource.tf" }}

## PGD GCP Two Data Groups with One Witness Group Example
{{ tffile "examples/resources/biganimal_pgd/gcp/data_groups_with_witness_group/resource.tf" }}

## PGD GCP BigAnimal's cloud account One Data Group Example
{{ tffile "examples/resources/biganimal_pgd/gcp/bah_data_group/resource.tf" }}

## PGD GCP BigAnimal's cloud account Two Data Groups with One Witness Group Example
{{ tffile "examples/resources/biganimal_pgd/gcp/bah_data_groups_with_witness_group/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}
{{- if .HasImport }}

## Import

Import is supported using the following syntax:

{{ codefile "shell" .ImportFile }}
{{- end }}
