---
page_title: "Provider: BigAnimal"
description: |-
  The BigAnimal provider is used to used to manage your workloads on EDB BigAnimal.
---

# BigAnimal Provider

A Terraform Provider to manage your workloads on [EDB BigAnimal](https://www.enterprisedb.com/products/biganimal-cloud-postgresql)
interacting with the BigAnimal API. The provider is licensed under the [MPL v2](https://www.mozilla.org/en-US/MPL/2.0/).

Use the navigation to the left to read about the available provider resources and data sources.

## Requirements

* A BigAnimal account with an organization set up. If you don't already have a BigAnimal account,
see [Getting started with the BigAnimal free trial.](https://www.enterprisedb.com/docs/biganimal/latest/free_trial/)
* [Terraform](https://www.terraform.io/downloads.html) >= 0.13.x
* A BigAnimal API token (https://www.enterprisedb.com/docs/biganimal/latest/reference/api/#using-the-get-token-script)

{{ if .HasExample -}}
## Example Usage
{{ tffile .ExampleFile }}
{{- end }}

## Environment Variables

Credentials can be provided by using the `BA_BEARER_TOKEN` and optionally `BA_API_URI` environment variables.

{{ .SchemaMarkdown | trimspace }}
