---
page_title: "Provider: BigAnimal"
description: |-
  The BigAnimal provider is used to used to manage your workloads on EDB BigAnimal
---

# {{ .ProviderShortName | upper }} Provider

A Terraform Provider to manage your workloads on [EDB BigAnimal](https://www.enterprisedb.com/products/biganimal-cloud-postgresql)
interacting with the BigAnimal API. The provider is licensed under the [MPL v2](https://www.mozilla.org/en-US/MPL/2.0/).

## Requirements

* A BigAnimal account with an organization set up. If you don't already have a BigAnimal account,
see [Getting started with the BigAnimal free trial.](https://www.enterprisedb.com/docs/biganimal/latest/free_trial/)
* [Terraform](https://www.terraform.io/downloads.html) >= 0.13.x


{{ if .HasExample -}}
## Example Usage
{{ tffile .ExampleFile }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}
